@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
<footer class="footer pt-3  ">
    <div class="container-fluid">
        <div class="row align-items-center justify-content-lg-between">
            <div class="col-lg-6 mb-lg-0 mb-4">
                <div class="copyright text-center text-sm text-muted text-lg-start">
                    © <script>
                          document.write(new Date().getFullYear())
                    </script>,
                    @localizer["Tüm Hakları Saklıdır"] <i class="fa fa-heart"></i>
                    <a href="https://www.github.com/batuhanyalin" class="font-weight-bold" target="_blank">Batuhan YALIN</a>
                    @localizer["tarafından yapılmıştır"]
                </div>
            </div>
            <div class="col-lg-6">
                <ul class="nav nav-footer justify-content-center justify-content-lg-end">
                    <li class="nav-item">
                        <a href="/Contact/Index" class="nav-link text-muted" target="_blank">@localizer["İletişime Geç"]</a>
                    </li>
                    <li class="nav-item">
                        <a href="/About/Index" class="nav-link text-muted" target="_blank">@localizer["Hakkımızda"]</a>
                    </li>
                    <li class="nav-item">
                        <a href="/Destination/Index" class="nav-link text-muted" target="_blank">@localizer["Turlar"]</a>
                    </li>
                    <li class="nav-item">
                        <a href="/Guide/Index" class="nav-link pe-0 text-muted" target="_blank">@localizer["Rehberler"]</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>