@model List<GetAllContactQueryResult>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_UIAdminLayout.cshtml";
    int count = 0;
}

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Anasayfa /</span> Mesajlar <a href="/Admin/MediatRContact/CreateContact/" class="btn btn-success"><i class="fas fa-plus"></i> Yeni Mesaj</a> </h4>
    <div class="card">
        <h5 class="card-header">Mesajlar Listesi</h5>
        <div class="table-responsive text-nowrap" id="contactList">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Kişi</th>
                        <th>E-posta</th>
                        <th>Telefon</th>
                        <th>Tarih</th>
                        <th>Konu</th>
                        <th>Mesaj</th>
                        <th>Durum</th>
                        <th>Aksiyon</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    @foreach (var item in Model)
                    {
                        count++;
                        <tr>
                            <td>@count</td>
                            <td>@item.Name @item.Surname</td>
                            <td>@item.Email</td>
                            <td>@item.Phone</td>
                            <td>@item.SendingDate</td>
                            <td>@item.Subject</td>
                            <td>
                                @{
                                    if (item.Text?.Length > 50)
                                    {
                                        @item.Text.Substring(0, 50)
                                        ;
                                    }
                                    else
                                    {
                                        @item.Text?.ToString()
                                        ;
                                    }
                                }...
                            </td>
                            <td>
                                <a href="/Admin/Contact/IsApproved/@item.ContactId">
                                    @{
                                        if (item.IsApproved == true)
                                        {
                                            <span style="font-size:medium" class="badge bg-label-success me-1"><i class="fas fa-thumbs-up"></i></span>
                                        }
                                        else
                                        {
                                            <span style="font-size:medium" class="badge bg-label-danger me-1"><i class="fas fa-thumbs-down"></i></span>
                                        }
                                    }
                                </a>
                            </td>
                            <td>
                                <a class="dropdown-item" href="/Admin/MediatRContact/GetContact/@item.ContactId"><i style="font-size:larger" class="fab fa-readme"></i> Oku - Güncelle</a>
                                <a class="dropdown-item" href="/Admin/MediatRContact/DeleteContact@item.ContactId"><i class="bx bx-trash me-1"></i> Sil</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
