@model List<DestinationMatchGuide>
@foreach (var item in Model)
{
    <div class="author-card col-md-3 m-3" style="text-align:center">
        <div>
            <a href="/Guide/GuideDetail/@item.Guide.Id">
                <img src="@item.Guide.ImageUrl" alt="" class="rounded-circle img-fluid">
            </a>
        </div>
        <h3 class="mb-3 title">@item.Guide.Name @item.Guide.Surname</h3>
        <p>
            @item.Guide.About
        </p>
        <ul class="author-icons mt-4">
            <li>
                <a class="twitter" href="@item.Guide.TwitterUrl">
                    <span class="fa fa-twitter"
                          aria-hidden="true"></span>
                </a>
            </li>
            <li>
                <a class="instagram" href="@item.Guide.InstagramUrl">
                    <span class="fa fa-instagram"
                          aria-hidden="true"></span>
                </a>
            </li>
        </ul>
    </div>
}
