@model List<CommentListDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Member/Views/Shared/_UIMemberLayout.cshtml";
    int count = 0;
}
<div class="row">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-header pb-0">
                <h6>Bildirimler</h6>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
                <div class="table-responsive p-0">
                    <table class="table align-items-center mb-0">
                        <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">#</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Tur</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">İçerik</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Tarih</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Durum</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Detay</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                            {
                                count++;
                                <tr>

                                    <td>@count</td>
                                    <td><a href="/Destination/DestinationDetail/@item.DestinationId">@item.Destination.City.Country.Continent.ContinentName | @item.Destination.City.Country.CountryName - @item.Destination.City.CityName</a></td>
                                    <td>
                                        @{
                                            if (item.Text?.Length > 50)
                                            {
                                                @item.Text.Substring(0, 50)
                                                ;
                                            }
                                            else
                                            {
                                                @item.Text?.ToString()
                                                ;
                                            }
                                        }...
                                    </td>
                                    <td>
                                        <span class="text-secondary text-xs font-weight-bold">@item.CommentDate.ToString("dd.MM.yyy HH:ss")</span>
                                    </td>
                                    <td>
                                        @{
                                            if (item.IsApproved == true)
                                            {
                                                <span class="badge bg-success">Onaylandı</span>
                                            }
                                            else
                                            {
                                                <span class="badge bg-danger">Onaylanmadı</span>
                                            }
                                        }
                                    </td>
                                    <td>
                                        <a href="/Member/Comment/CommentDetail/@item.CommentId"><i style="font-size:large" class="fas fa-info-circle"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>