@model List<MemberListMyReservationDto>
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewData["Title"] = "MyCurrentReservation";
    Layout = "~/Areas/Member/Views/Shared/_UIMemberLayout.cshtml";
    int count = 0;
    string error = ViewBag.reservationError;
}

<div class="row">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-header pb-0">
                <h6>@localizer["Aktif Rezervasyonlar"]</h6>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
                <div class="table-responsive p-0">
                    <table class="table align-items-center mb-0">
                        <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">#</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">@localizer["Görsel"]</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">@localizer["Yer"]</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">@localizer["Süre/Tarih"]</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">@localizer["Güncel Kapasite/Kişi Sayısı"]</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">@localizer["Rezervasyon Tarihi"]</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">@localizer["Fiyat"]</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">@localizer["Detaylar"]</th>
                            </tr>
                        </thead>
                        <tbody>

                            <h2 style="text-align:center">@localizer[$"{ViewBag.reservationError}"]</h2>
                            @foreach (var item in Model)
                            {
                                count++;
                                <tr>

                                    <td>@count</td>
                                    <td>
                                        <div class="d-flex px-2 py-1">
                                            <div>
                                                <img src="@item.Destination.ImageUrl" style=" border-radius: 10%" height="100px;" width="80px;">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex flex-column justify-content-center">
                                            <h6 class="mb-0 text-sm">@item.Destination.Country</h6>
                                            <p class="text-xs text-secondary mb-0">@item.Destination.City</p>
                                        </div>
                                    </td>
                                    <td class="align-middle text-center">
                                        <p class="text-xs font-weight-bold mb-0">@item.Destination.DayNight</p>
                                        <p class="text-xs text-secondary mb-0">@item.Destination.StartDate.ToString("dd.MM.yyy")</p>
                                    </td>
                                    <td class="align-middle text-center">
                                        <p class="text-xs font-weight-bold mb-0">@item.Destination.Capacity</p>
                                        <p class="text-xs text-secondary mb-0">@item.PersonCount kişilik</p>
                                    </td>
                                    <td class="align-middle text-center">
                                        <p class="text-xs font-weight-bold mb-0">@item.ReservationDate</p>
                                    </td>
                                    <td class="align-middle text-center text-sm">
                                        <span class="badge badge-sm bg-gradient-success">@item.PersonCount $</span>
                                    </td>
                                    <td class="align-middle text-center text-sm">
                                        <p class="text-xs font-weight-bold mb-0">@item.Description</p>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
