@model List<DestinationListDto>
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewData["Title"] = "GetCitiesSearchByName";
    Layout = "~/Areas/Member/Views/Shared/_UIMemberLayout.cshtml";
    int count = 0;
}

<div class="row">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-header pb-0">
                <h6>@ViewData["CurrentFilter"] ile @localizer["İlgili Sonuçlar"]</h6>
                <form method="get" asp-action="GetCitiesSearchByName" asp-area="Member">
                    <div class="row">
                        <div class="col col-md-2">
                            <div class="input-group">
                                <span class=" input-group-text text-body"><i class="fas fa-search" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" name="searchString" value="@ViewData["CurrentFilter"]" placeholder="@localizer["Şehir Ara"]...">
                            </div>

                        </div>
                    </div>
                </form>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
                <div class="table-responsive p-0">
                    <table class="table align-items-center mb-0">
                        <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">#</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">@localizer["Görsel"]</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">@localizer["Yer"]</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">@localizer["Süre/Tarih"]</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">@localizer["Kapasite"]</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">@localizer["Fiyat"]</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">@localizer["Detaylar"]</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                            {
                                count++;
                                <tr>

                                    <td>@count</td>
                                    <td>
                                        <div class="d-flex px-2 py-1">
                                            <div>
                                                <img src="@item.ImageUrl" class="avatar avatar-sm me-3">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex flex-column justify-content-center">
                                            <h6 class="mb-0 text-sm">@item.City.Country.CountryName - @item.City.CityName</h6>
                                            <p class="text-xs text-secondary mb-0">@item.City.Country.Continent.ContinentName</p>
                                        </div>
                                    </td>
                                    <td class="align-middle text-center">
                                        <p class="text-xs font-weight-bold mb-0">@item.DayNight</p>
                                        <p class="text-xs text-secondary mb-0">@item.StartDate.ToString("dd.MM.yyy")</p>
                                    </td>
                                    <td class="align-middle text-center">
                                        <span class="text-secondary text-xs font-weight-bold">@item.Capacity</span>
                                    </td>
                                    <td class="align-middle text-center text-sm">
                                        <span class="badge badge-sm bg-gradient-success">@item.Price $</span>
                                    </td>
                                    <td class="align-middle text-center text-sm">
                                        <i class="fas fa-info-circle"></i>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
