@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model List<DestinationListDto>
<div class="col-12 mt-4">
    <div class="card mb-4">
        <div class="card-header pb-0 p-3">
            <h6 class="mb-1">@localizer["Son Rotalar"]</h6>
            <p class="text-sm">@localizer["Traversal Şirketinin En Son Eklenen Seyahat Rotaları"]</p>
        </div>
        <div class="card-body p-3">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-xl-3 col-md-6 mb-xl-0 mb-4">
                        <div class="card card-blog card-plain">
                            <div class="position-relative">
                                <a class="d-block shadow-xl border-radius-xl">
                                    <img src="@item.ImageUrl" alt="img-blur-shadow" class="img-fluid shadow border-radius-xl">
                                </a>
                            </div>
                            <div class="card-body px-1 pb-0">
                                <p class="text-gradient text-dark mb-2 text-sm">@item.DayNight - @item.Price $</p>
                                    <h5>
                                    KITA - ÜLKE - @item.City
                                    </h5>
                                <p class="mb-4 text-sm">
                                    @{
                                        if (item.Description?.Length > 100)
                                        {
                                            @item.Description.Substring(0, 100)
                                            ;
                                        }
                                        else
                                        {
                                            @item.Description?.ToString()
                                            ;
                                        }
                                    }
                                </p>
                                @await Component.InvokeAsync("_MemberDashboardDestinationListGuideComponentPartial", new { id = item.DestinationId })
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>