@model DestinationListDto
@{
    ViewData["Title"] = "DestinationDetail";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<section class="w3l-about-breadcrumb text-left">
    <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
        <div class="container">
            <h2 class="title">Tur Detayları</h2>
            <ul class="breadcrumbs-custom-path mt-2">
                <li><a href="/Default/Index">Anasayfa</a></li>
                <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> Tur Detay </li>
            </ul>
        </div>
    </div>
</section>
<div class="py-5 w3l-homeblock1 text-center">
    <div class="container mt-md-3">
        <h3 class="blog-desc-big text-center mb-4">
            @Model.City.Country.CountryName - @Model.City.CityName <br />
            Turumuz Tüm Detaylarıyla Karşınızda!
        </h3>
        <div class="blog-post-info">
            <ul class="blog-meta">
                <li class="meta-item blog-lesson">
                    <span class="meta-value"> <b>Tur Tarihi:</b> </span>
                    <span class="meta-value"> @Model.StartDate.ToString("MMMM dd, yyy") </span>
                </li>
                <li class="meta-item blog-students">
                    <span class="meta-value"> <b>Güncel Kontenjan:</b></span>
                    <span class="meta-value"> @Model.Capacity</span>
                </li>
            </ul>
        </div>
    </div>
</div>
<section class="blog-post-main w3l-homeblock1">
    <!--/blog-post-->
    <div class="blog-content-inf pb-5">
        <div class="container pb-lg-4">
            <div class="single-post-image" style="text-align:center">
                <div class="post-content">
                    <img src="@Model.CoverImage" class="radius-image img-fluid mb-5" alt="" />
                </div>
            </div>
            <div class="single-post-content">
                <p id="summernote" class="mb-4">@Html.Raw(Model.Text1)</p>
                <div class="d-grid left-right mt-5 pb-md-5">
                    @await Component.InvokeAsync("_DestinationDetailTagsComponentPartial", new { id = ViewBag.id })
                    <div class="buttons-singles">
                        <h4>Paylaş :</h4>
                        <a href="#blog-share"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                        <a href="#blog-share"><span class="fa fa-twitter" aria-hidden="true"></span></a>
                        <a href="#blog-share"><span class="fa fa-instagram" aria-hidden="true"></span></a>
                        <a href="#blog-share"><span class="fa fa-pinterest-p" aria-hidden="true"></span></a>
                    </div>
                </div>

                <!--//author-card-->
                <div class="mt-3">
                    <h4>Bu Turun Rehberleri</h4>
                    <div class="row align-items-center">
                        @await Component.InvokeAsync("_DestinationDetailGuideListComponentPartial", new { id = ViewBag.id })
                    </div>
                </div>

                <!--//author-card-->
                @await Component.InvokeAsync("_DestinationDetailCommentListComponentPartial", new { id = ViewBag.id })
                @{
                    if (ViewBag.user != null)
                    {
                        @await Component.InvokeAsync("_DestinationDetailMakeCommentComponentPartial", new { id = ViewBag.id })
                    }
                    else
                    {
                        <hr />
                        <span>Yorum yapabilmek için önce giriş yapmanız gerekmektedir.</span>
                    }
                }
            </div>
        </div>
    </div>
    <!--//blog-post-->
</section>

<script>
    $(document).ready(function () {
        $('#summernote').summernote({
            toolbar: true, // Toolbar'ı gizler
            airMode: true, // Sadece görüntüleme modu
            height: 'auto', // Yüksekliği içeriğe göre ayarlar
            focus: true // Başlangıçta odaklanır
        });
    });
</script>