@model List<DestinationListDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_UIAdminLayout.cshtml";
    int count = 0;
}
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Anasayfa /</span> Turlar <a class="btn btn-success" href="/Admin/Destination/CreateDestination"><i class="fas fa-circle-plus"></i> Yeni Tur</a></h4>
    <div class="card">
        <h5 class="card-header">Tur Listesi</h5>
        <div class="table-responsive text-nowrap" id="destinationList">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Görsel</th>
                        <th>Kıta</th>
                        <th>Ülke</th>
                        <th>Şehir</th>
                        <th>Gün</th>
                        <th>Kapasite</th>
                        <th>Tur Rehberleri</th>
                        <th>Öne Çıkarıldı</th>
                        <th>Durum</th>
                        <th>Aksiyon</th>
                    </tr>
                </thead>

                <tbody class="table-border-bottom-0">
                    @foreach (var item in Model)
                    {
                        count++;
                        <tr>
                            <td>@count</td>
                            <td><a href="/Destination/DestinationDetail/@item.DestinationId"><img src="@item.ImageUrl" style="height:50px;width:40px;border-radius:10%;" /></a></td>
                            <td>@item.City.Country.Continent.ContinentName</td>
                            <td>@item.City.Country.CountryName</td>
                            <td>@item.City.CityName</td>
                            <td>@item.DayNight</td> 
                            <td>@item.Capacity</td>
                            <td>
                                @await Component.InvokeAsync("_AdminDestinationListGuideComponentPartial", new { id = item.DestinationId })
                            </td>
                            <td>
                                @{
                                    if (item.IsFeaturePost == true)
                                    {
                                        <i style="color:coral;font-size:x-large;text-align:center" class="text-warning fa-solid fa-face-smile"></i>
                                    }
                                    else
                                    {
                                        <i style="color:slategray;font-size:x-large;text-align:center" class="fa-solid fa-face-sad-tear"></i>
                                    }
                                }
                            </td>
                            <td>
                                <a href="/Admin/Destination/IsApproved/@item.DestinationId">
                                    @{
                                        if (item.Status == true)
                                        {
                                            <span style="font-size:medium" class="badge bg-label-success me-1"><i class="fas fa-thumbs-up"></i></span>
                                        }
                                        else
                                        {
                                            <span style="font-size:medium" class="badge bg-label-danger me-1"><i class="fas fa-thumbs-down"></i></span>
                                        }
                                    }
                                </a>

                            </td>
                            <td>
                                <div class="dropdown">
                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                        <i class="bx bx-dots-vertical-rounded"></i>
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="/Admin/Destination/UpdateDestination/@item.DestinationId"><i class="bx bx-edit-alt me-1"></i> Güncelleme</a>
                                        <button class="dropdown-item btn-deleteDestination" data-id=@item.DestinationId><i class="bx bx-trash me-1"></i> Sil</button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
</div>
<script>
    $("#destinationList").on('click', '.btn-deleteDestination', function () {
        let destinationId = $(this).data('id');
        Swal.fire({
            title: "Turu Silmek İstediğinizden Emin Misiniz?",
            text: "Bu işlemin geri dönüşü olmayacaktır.",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Evet, sil.",
            cancelButtonText: "İptal Et."
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    type: "post",
                    url: "/Admin/Destination/DeleteDestination/" + destinationId,
                    contentType: "application/json",
                    dataType: "json",
                    success: function (response) {
                        Swal.fire({
                            title: "İşlem Başarılı!",
                            text: "Seçtiğiniz tur başarılı bir şekilde silindi.",
                            icon: "success"
                        }).then(() => {
                            // Sayfayı yenile
                            location.reload();
                        });
                    }
                });
            }
        });
    });
</script>