@model GuideDetailDto
@{
    ViewData["Title"] = "GuideDetail";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<section class="w3l-about-breadcrumb text-left">
    <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
        <div class="container py-2">
            <h2 class="title">Rehber Bilgileri</h2>
            <ul class="breadcrumbs-custom-path mt-2">
                <li><a href="/Guide/Index">Rehberler</a></li>
                <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> @Model.Name @Model.Surname </li>
            </ul>
        </div>
    </div>
</section>

<section class="w3l-contact" id="contact">
    <div class="contact-infubd py-5">
        <div class="container py-lg-3">
            <div class="contact-grids row">
                <div class="col-lg-6 contact-left">
                    <div class="partners">
                        <div class="cont-details">
                            <img style="height:auto" width="400px" src="@Model.ImageUrl" />
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 contact-right">
                    <div class="row">
                        <div class="col">
                            <h6 class="mt-4">Adı:</h6>
                            <p> @Model.Name </p>
                        </div>
                        <div class="col">
                            <h6 class="mt-4">Soyadı:</h6>
                            <p> @Model.Surname</p>
                        </div>
                        <div class="col">
                            <h6 class="mt-4">Doğum Tarihi:</h6>
                            <p> @Model.Birtday.ToString("dd.MM.yyy")</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h6 class="mt-4">Eposta:</h6>
                            <p>
                                <a href="@Model.Email">
                                    @Model.Email
                                </a>
                            </p>
                        </div>
                        <div class="col">
                            <h6 class="mt-4">Telefon:</h6>
                            <p>
                                <a href="tel:+90 @Model.Phone">
                                    @Model.Phone
                                </a>
                            </p>
                        </div>
                        <div class="col">
                            <h6 class="mt-4">Doğum Yeri:</h6>
                            <p> @Model.HomeTown</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h6 class="mt-4">Ana Dil:</h6>
                            <p> @Model.MainLanguage</p>
                        </div>
                        <div class="col">
                            <h6 class="mt-4">Diğer Diller:</h6>
                            <p> @Model.OtherLanguage</p>
                        </div>
                        <div class="col">
                            <h6 class="mt-4">Sosyal Medyalar</h6>
                            <p> <a href="@Model.TwitterUrl"><i class="fab fa-twitter"></i> | <a href="@Model.InstagramUrl"><i class="fab fa-instagram"></i></a></p>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <p> @Model.About</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>