@model List<AdminListReservationDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_UIAdminLayout.cshtml";
    int count = 0;
}
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"><a href="/Admin/Dashboard/Index">Anasayfa</a> /</span> Rezervasyonlar <a href="/Admin/Reservation/CreateReservation" class="btn btn-success"><i class="fas fa-plus-circle"></i></a></h4>
    <div class="card">
        <h5 class="card-header">Rezervason Listesi</h5>
        <div class="table-responsive text-nowrap" id="reservationList">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Görsel</th>
                        <th>Kıta</th>
                        <th>Ülke</th>
                        <th>Şehir</th>
                        <th>Misafir</th>
                        <th>Kişi Sayısı</th>
                        <th>Tarih</th>
                        <th>Durum</th>
                        <th>Aksiyon</th>
                    </tr>
                </thead>

                <tbody class="table-border-bottom-0">
                    @foreach (var item in Model)
                    {
                        count++;
                        <tr>
                            <td>@count</td>
                            <td><a href="/Destination/DestinationDetail/@item.DestinationId"><img src="@item.Destination.ImageUrl" style="height:50px;width:auto;border-radius:10%;" /></a></td>
                            <td>@item.Destination.City.Country.Continent.ContinentName</td>
                            <td>@item.Destination.City.Country.CountryName</td>
                            <td>@item.Destination.City.CityName</td>
                            <td><a title="Kişiye ait rezervasyonları gör" href="/Admin/Reservation/GetReservationListByMember/@item.Member.Id">@item.Member.Name @item.Member.Surname</a></td>
                            <td>@item.PersonCount</td>
                            <td>@item.ReservationDate.ToString("dd.MM.yyy HH:ss")</td>
                                                        <td>
                                @{
                                    if (item.ReservationStatus.ReservationStatusName == "Onaylandı")
                                    {
                                        <span title="Onaylandı" style="font-size:medium" class="badge bg-label-success me-1"><i class="fas fa-thumbs-up"></i></span>
                                    }
                                    else if (item.ReservationStatus.ReservationStatusName == "Onay Bekliyor")
                                    {
                                        <span title="Onay Bekliyor" style="font-size:medium" class="badge bg-label-warning me-1"><i class="fas fa-hourglass-half"></i></span>
                                    }
                                    else if (item.ReservationStatus.ReservationStatusName == "Onaylanmadı")
                                    {
                                        <span title="Onaylanmadı" style="font-size:medium" class="badge bg-label-danger me-1"><i class="fas fa-thumbs-down"></i></span>
                                    }
                                    else if (item.ReservationStatus.ReservationStatusName == "İptal Edildi")
                                    {
                                        <span title="İptal Edildi" style="font-size:medium" class="badge bg-label-dark me-1"><i class="fas fa-user-times"></i></span>
                                    }
                                    else if (item.ReservationStatus.ReservationStatusName == "Geçmiş Rezervasyon")
                                    {
                                        <span title="Geçmiş Rezervasyon" style="font-size:medium" class="badge bg-label-info me-1"><i class="fas fa-calendar-check"></i></span>
                                    }
                                    else
                                    {
                                        <span style="font-size:medium" class="badge bg-label-secondary me-1"><i class="fas fa-spinner"></i></span>
                                    }
                                }
                            </td>
                            <td>
                                <div class="dropdown">
                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                        <i class="bx bx-dots-vertical-rounded"></i>
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="/Admin/Reservation/UpdateReservation/@item.ReservationId"><i class="bx bx-edit-alt me-1"></i> Güncelleme</a>
                                        <button class="dropdown-item btn-deleteReservation" data-id=@item.ReservationId><i class="bx bx-trash me-1"></i> Sil</button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
</div>
<script>
    $("#reservationList").on('click', '.btn-deleteReservation', function () {
        let reservationId = $(this).data('id');
        Swal.fire({
            title: "Rezervasyonu Silmek İstediğinizden Emin Misiniz?",
            text: "Bu işlemin geri dönüşü olmayacaktır.",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Evet, sil.",
            cancelButtonText: "İptal Et."
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    type: "post",
                    url: "/Admin/Reservation/DeleteReservation/" + reservationId,
                    contentType: "application/json",
                    dataType: "json",
                    success: function (response) {
                        Swal.fire({
                            title: "İşlem Başarılı!",
                            text: "Seçtiğiniz rezervasyon başarılı bir şekilde silindi.",
                            icon: "success"
                        }).then(() => {
                            // Sayfayı yenile
                            location.reload();
                        });
                    }
                });
            }
        });
    });
</script>